<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="styles/main.css" />
		<title>Document</title>
	</head>
	<body>
		<h1>Main Page</h1>
		<ul>
			<li><a href="/"><%= menu.main %></a></li>
			<li><a href="<%= menu.login %>"><%= menu.login %></a></li>
			<li><a href="<%= menu.register %>"><%= menu.register %></a></li>
		</ul>
		<div class="users">
			<% users.forEach(user => { %>
			<p><%= user.name %></p>
			<% }) %>
		</div>
	</body>
</html>
